---
---

@charset "utf-8";

// Our variables
$base-font-family: "Whitney SSm A", "Whitney SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     0px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;
$redwood-color:    #c43301;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    100%;

$on-palm:          600px;
$on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";


.home_message {
  background: url(/assets/images/bg_trees.jpg) left top no-repeat;
  background-size: cover;
  color: #FFF;
  padding: 8em 32em 8em 10em;
  text-align: left;
  @media
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
      /* Retina-specific stuff here */
      background: url(/assets/images/bg_trees@2x.jpg) left top no-repeat;
      background-size: cover;
    }
    @include media-query($on-palm) {
        padding: 4em 1em 1em 8em;
    }
    @include media-query($on-laptop) {
        padding: 8em 8em 6em 10em;
    }
    // border-radius: 4px;

}

.home_title {
  font-size: 2.5em;
  font-weight: 700;
  @include media-query($on-palm) {
      font-size: 1.5em;
  }
}

.home_subtitle {
  font-size: 1.5em;
}

p {
  font-size: 1em;
}

.site-header {
  text-align: center;
  padding: 40px 0 0 0;
  border-top: none;
  border-bottom: none;
}

.site-nav {
  float: none;
}

.site-title {
  float: none;
  margin: 0 auto;
  font-weight: 700;
  color: #111;
  transition: all 0.5s ease;
  text-decoration: none;
  font-size: 2em;
}

.site-title:hover {
  color: $redwood-color;
  // border-bottom: 1px solid #c43301;
  text-decoration: none;
}

.site-title, .site-title:visited {
  color: inherit;
}

.site-nav .page-link {
  font-weight: 700;
  color: rgba(0,0,0,.1);
  text-decoration: line-through;
  float: none;
  display: inline-block;
}

/* temporary nav links style ------------- */

.site-nav ul {
  list-style: none;
}
.site-nav ul li {
  display: inline;
  padding: 0 2em;
  // font-weight: 700;
}

.site-nav ul li a {
  color: rgba(0,0,0,.4);
  transition: all 0.7s ease;
  &:hover {
    text-decoration: none;
    color: $redwood-color;
  }
}

.site-nav ul li:first-child {
  padding-left: 0;
}

.site-nav .selected {
  color: $redwood-color;
}

article.post {
  width: 50%;
  max-width: 960px;
  margin: 80px auto 0 auto;
  font-size: 1.2em;

}

.post-title {
  margin-bottom: 1em;
}

article.post p {
  line-height: 1.5em;
  margin-bottom: 1em;
}

.site-footer {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 80px 10% 20px 10%;
  border-top: none;
}

.footer-col {
  text-align: center;
  float: none;
  color: #999;
}
