---
---
@charset "utf-8";
@import "normalize";

// Our variables
$base-font-family: "Whitney SSm A", "Whitney SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     0px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;
$redwood-color:    #c43301;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    100%;
$med:        400px;
$wide:       769px;


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-content {
  flex: 1;
}


.home_message {
  background: url(/assets/images/bg_trees.jpg) left top no-repeat;
  background-size: cover;
  color: #FFF;
  padding: 4em 1em;
  text-align: left;
  @media
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
      /* Retina-specific stuff here */
      background: url(/assets/images/bg_trees@2x.jpg) left top no-repeat;
      background-size: cover;
    }
    @media(min-width: $med) {

    }
}

.home_title {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 1em;
}

.home_subtitle {
  font-size: 1.5em;
}

p {
  font-size: 1em;
}

.site-title {
  float: none;
  margin: 0 auto;
  font-weight: 700;
  color: #111;
  transition: color 0.5s ease;
  text-decoration: none;
  font-size: 1.8em;
  text-align: center;
  &:hover {
    color: $redwood-color;
    text-decoration: none;
  }
}

.site-title {
    margin-bottom: 1em;
}

.site-title a {
  color: $redwood-color;
  text-decoration: none;

}

/*  nav links style ------------- */

.site-header {
  padding: 40px 0 20px 0;
  border-top: none;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  @media(min-width: $med) {
    align-items: center;
  }
  @media(min-width: $wide) {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
}

.nav {
  list-style: none;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  @media(min-width: $med) {
    display: flex;
  }
  @media(min-width: $wide) {

  }
}

.nav li {
  padding: .5em .5em;
}

.nav a {
  color: rgba(0,0,0,.4);
  transition: all 0.7s ease;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $redwood-color;
  }
}

.nav .selected {
  color: $redwood-color;
}

article.post {
  width: 90%;
  margin: 0 auto 0 auto;
  font-size: 1.2em;

}

.post-title {
  margin-bottom: 1em;
}

article.post p {
  line-height: 1.5em;
  margin-bottom: 1em;
}

.site-footer {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 80px 10% 20px 10%;
  border-top: none;
}

.footer-col {
  text-align: center;
  float: none;
  color: #999;
}
