---
---

@charset "utf-8";
@import
  "normalize",
  "retina";


// Our variables
$base-font-family: "Whitney SSm A", "Whitney SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     0px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;
$redwood-color:    #c43301;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    100%;
$med:        400px;
$wide:       920px;
$ex-wide:       1300px;


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $base-font-family;
}

a {
  color: $redwood-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

p {
  font-size: 1em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  line-height: 1.5em;
}

.page-content {
  flex: 1;
}


.accomodations {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  @media(min-width: $med) {
    margin-top: 50px;
    flex-direction: row;
  }
}

.accomodations a {
  display: flex;
  flex-direction: column;
  align-items: center;
  &:hover {
    text-decoration: none;
  }
}

.accomodations .logo img {
  vertical-align: middle;
  // padding: 40px;
  width: 60%;
  @media(min-width: $med) {
    width: 100%;
  }
}

.accomodations .col {
  flex: 1;
  // padding: 1em;
  display: flex;
  border: 1px solid #EAEAEA;
  margin: 20px auto;
  border-radius: 4px;
  transition: all .3s ease;
  text-align: center;
  // flex-direction: column;
  @media(min-width: $med) {
    margin: 0 1%;
    padding: 1em;
    // margin: 20px 1%;
    // text-align: left;
  }
  &:hover {
    background: #f7f7f7;
  }
}

.accomodations .col p {
  color: #666;
  font-size: .8em;
  padding: 1em;
  // align-self: flex-end;
  flex: 1;
  // height: 20vh;
  @media(min-width: $med) {
    font-size: .5em;
    padding: 0;
  }
  @media(min-width: $wide) {
    font-size: .6em;
  }
}

.home_message {
  background:
    linear-gradient(
      rgba(0, 56, 1, .5), rgba(111, 19, 0, .5)),
      url(/assets/images/bg_trees.jpg) left top no-repeat;
  background-size: cover;
  color: #FFF;
  align-items: center;
  display: flex;
  // padding: 2em 1em 4em 1em;
  text-align: left;
  height: 440px;

  @media
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
      /* Retina-specific stuff here */
      background:
      linear-gradient(
        rgba(0, 56, 1, .5), rgba(111, 19, 0, .7)),
        url(/assets/images/bg_trees@2x.jpg) 40% top no-repeat;
      background-size: cover;
    }
    @media(min-width: $med) {
      // padding: 4em 4em 0 4em;
      height: 480px;
    }
    @media(min-width: $wide) {
      // padding: 4em 14em 0 14em;
      height: 540px;
    }
    @media(min-width: $ex-wide) {
      // padding: 8em 30em 0 20em;
      height: 540px;
    }
    &:hover {
      // -webkit-transition: border-radius 2s;
      // background-size: 110%;

    }
}

.home_message .container {
  // align-self: center;
  // margin: ;
  padding: auto 1em;
  width: 90%;
  margin: auto;
  @media(min-width: $med) {
    width: 75%;
  }
  @media(min-width: $wide) {
    width: 60%;
  }
  @media(min-width: $ex-wide) {
    width: 50%;
  }
}

.home_title {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 1em;
  line-height: 1.5em;
  @media(min-width: $med) {
    font-size: 2em;
  }
  @media(min-width: $wide) {
    font-size: 2.8em;
    margin-bottom: .8em;
    line-height: 1.2em;
  }
}

.home_subtitle {
  font-size: 1.2em;
  line-height: 1.5em;
  font-weight: normal;
  @media(min-width: $med) {
    line-height: 1.5em;
  }
  @media(min-width: $wide) {
    font-size: 1.3em;
    line-height: 1.5em;
  }
}

.home_message p {
  font-size: .8em;
  color: rgba(255,255,255, .7);
  line-height: 1.5em;
  @media(min-width: $wide) {
    font-size: .8em;
  }
}

.site-title {
  font-weight: 700;
  color: #111;
  text-decoration: none;
  font-size: 2em;
  text-align: center;
  font-family: "didoni-urw", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 1em;
  @media(min-width: $med) {
    // display: flex;
    font-size: 2.5em;
  }
  @media(min-width: $wide) {
    // display: flex;
    font-size: 1.8em;
  }
  @media(min-width: $ex-wide) {
    font-size: 2.5em;
  }
}

.site-title a {
  color: $redwood-color;
  text-decoration: none;
  transition: all 0.2s ease;
  &:hover {
    color: rgba(0,0,0,1);
    border-bottom: 4px solid #333;
  }

}

/*  nav links style ------------- */

.site-header {
  padding: 20px 0 20px 0;
  display: flex;
  flex-direction: column;
  @media(min-width: $med) {
    align-items: center;
    padding: 40px 0 80px 0;
  }
  @media(min-width: $wide) {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
    padding: 40px 0 0px 0;
    // border-bottom: 2px dotted #eaeaea;
  }
  @media(min-width: $ex-wide) {
    width: 50%;
    // border-bottom: 2px dotted #eaeaea;
  }
}

.nav {
  list-style: none;
  text-align: center;
  padding: 0;
  @media(min-width: $med) {
    display: flex;
  }
  @media(min-width: $wide) {
    flex-wrap: wrap;
    font-size: .8em;
  }
  @media(min-width: $ex-wide) {
    // flex-wrap: wrap;
    font-size: .9em;
  }
}

.nav li {
  padding: .5em .5em;
}

.nav a {
  color: rgba(0,0,0,.4);
  text-decoration: none;
  -webkit-transition: border 0.2s ease;
  transition: all 0.2s ease;
  border-bottom: none;
  &:hover {
    text-decoration: none;
    color: $redwood-color;
    // padding-bottom: .1em;
  }
}

.nav a.selected {
  color: $redwood-color;
  border-bottom: 1px solid $redwood-color;
  text-decoration: none;
}

article.post {
  width: 90%;
  margin: 0 auto 0 auto;
  font-size: 1.2em;
  @media(min-width: $med) {
    width: 80%;
  }
  @media(min-width: $wide) {
    width: 60%;
    margin-top: 80px;

  }
  @media(min-width: $ex-wide) {
    width: 50%;
    font-size: 1.4em;
  }
}

.post-title {
  margin-bottom: .5em;
  font-size: 3em;
  font-family: "didoni-urw", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.post-content h2 {
  font-size: .5em;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(0,0,0,.3);
  // margin-bottom: 30px;
  padding-bottom: 10px;
  margin-top: 3em;
  border-bottom: 2px dotted #eaeaea;
  @media(min-width: $med) {
    margin-top: 6em;
  }

  // width: auto;
}

article.post p {
  line-height: 1.6em;
  margin-bottom: 1.3em;
  @media(min-width: $wide) {
    line-height: 1.6em;
  }
  @media(min-width: $ex-wide) {
    line-height: 1.8em;

  }
}

.site-footer {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 80px 10% 20px 10%;
  // border-top: none;
}

.footer-col {
  text-align: center;
  float: none;
}

.footer-col p {
  font-size: .8em;
  color: #CCC;
}

.footer-graphic {
  width: 149px;
  height: 67px;
  display: inline-block;
  @include retina('/assets/images/tree-ill.png', 3, 149px 67px, left top no-repeat);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  // flex-flow: column wrap;
  // margin: .5em 1%;
  // justify-content: flex-start;
  align-items: flex-start;
  flex: 1;
  // height: 1000px;
  justify-content: space-between;
  // max-width: 400px;
  @media(min-width: $med) {
    // height: 700px;
  }
  @media(min-width: $wide) {
    // height: 1200px;
  }
  @media(min-width: $ex-wide) {
    // height: 1500px;
  }

}

.col {
  // height: auto;
  width: 100%;
  // display: inline-block;

  @media(min-width: $med) {
    width: 48%;
    margin: 1%;
  }
  @media(min-width: $wide) {
    // width: 48%;
    // margin: 1%;
  }
  @media(min-width: $ex-wide) {
    // width: 48%;
    // margin: 1%;
  }
}

.photo {
  margin:5px auto 0 auto;
}

img {
  width: 100%;
  height: auto;
}

.videoWrap {
  position: relative;
  padding-bottom: 56.25%; /* 16x9 */
  padding-top: 25px;
  height: 0;
}

.videoWrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
